.App {
  text-align: center; 
  width: 100%;
}

.Products-Cards { 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto; 
  justify-items: center; 
  grid-gap: 10px ; 
  row-gap: 10px;
}







