
.card {   
  margin: 0px;
  padding: 5px 0px 20px 0px;
  width: 95%; 
   border:  2px solid black ; 
  
} 

.card img { 
  width: 95%; 
  
} 

.container h4 { 
  margin-top: 0px;
}

.container button{  
  
  border: 1px solid black ;   
  padding: 5px 75px; 
  background-color: red; 
  color: white; 
  font-size: 20px; 
  font-weight: bolder;
} 
.count{   
  width: 40px;
  text-align: center; 
  margin: 10px ;  
  padding: 6px 0px;
  border: 2px solid red; 
  border-radius: 50%;
  color: white;  
  font-size: 20px; 
  font-weight: bolder;
  background-color: red; 
  
}