

.openShowShoppingCart{ 
  display: flex;  
  justify-content: flex-end;
  
} 
.cartBtn{ 
  margin: 20px 20px 0px 0px; 
  font-size: 20px;
}

.cartProducts{ 
border: 2px solid black; 
margin: 10px;
}

.closeShowShoppingCart{ 
font-size: 20px ;  
text-align: left;
margin: 100px;
}

.entry{  
  width: 80%;
 margin: auto auto;
} 
.cartProductEntry{  
  display: flex;
  justify-content: space-between; 
  border: 1px solid black; 
  margin: 10px 0px; 
  padding: 10px;
} 

.sendToCustomer{ 
 border: 3px solid red; 
 margin: 10px 0px ; 
 padding: 10px;
} 

.inputCustomer{ 

}

.sendToCustomerBtn{ 

}